<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="row container-fluid">

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <img src="img/logo.png" style="width:8% ">  
            <ul class="navbar-nav me-auto ">
            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Không gian 2 chiều </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#"> Không gian 3 chiều</a></li>
                    </ul>
                </li>
                
                <a class="nav-item btn" onclick="ChangeCursor1()"> <img src="https://wiki.geogebra.org/uploads/c/c0/Tool_Move.gif" type="image/x-icon"> </a>
                <a class="nav-item btn" onclick="ChangeCursor2()"> <img src="https://wiki.geogebra.org/uploads/d/dc/Tool_New_Point.gif" type="image/x-icon"> </a>
                <a class="nav-item btn" onclick="ChangeCursor3()"> <img src="https://wiki.geogebra.org/uploads/d/d2/Tool_Line_through_Two_Points.gif" type="image/x-icon"> </a>
                <a class="nav-item btn" onclick="ChangeCursor4()"> <img src="https://wiki.geogebra.org/uploads/8/82/Tool_Polygon.gif" type="image/x-icon"> </a>
                <a class="nav-item btn" onclick="ChangeCursor5()"> <img src="https://wiki.geogebra.org/uploads/1/1e/Tool_Circle_Center_Point.gif" type="image/x-icon"> </a>
                <a class="nav-item btn" onclick="ChangeCursor6()"> <img src="https://wiki.geogebra.org/uploads/0/05/Tool_Ellipse.gif" type="image/x-icon"> </a>
                <a class="nav-item btn" onclick="ChangeCursor7()"> <img src="https://wiki.geogebra.org/uploads/d/d1/Tool_Move_Graphics_View.gif" type="image/x-icon"> </a>
            </ul>
            
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
 
      </div>

  

  </div>
</nav>