
<div class="wrapper" >
    <div class="col">
        <form method="post" action="/store">
              <div class="row FormInput">

                    <div class="col-sm-4">
                                <select class="form-select" id="Select_Item" aria-label="Default select example"  style="width:100%">
                                    <option value="1" >Điểm</option>
                                    <option value="2">Hàm</option>
                                    <option value="3">Three</option>
                                </select>
                    </div>
                    <div class="col-sm">
                        <input  type="text" placeholder="Add new .." id="myInput" style="width:50%"> 
                        <button type="submit" class="btn btn-primary" id="mySubmit"  >Add</button>
                    </div>

                </div>
         </form>
            <ul class="List_DS">
           
            </ul>

    </div>    

</div>
