#flex-container {
  display: flex;
  justify-content: flex-start;
    height: 1000px;

}

.Slide_Fix{

 width: 25%;
}
.RanhGioi{
  width: 0.1%;
  background-color: rgb(194, 181, 181);
}
.thuoctinh3{
 
  width:100%;
}
.FormInput{
 
  border-bottom: 2px solid #c5c5bd;
  height:50px;

}
body { margin: 0; }