<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head }}
    </head>
    <body class="hold-transition sidebar-mini layout-fixed">
        <header>
            {{> header }}
        </header>
        <div id="flex-container" >
            <div class="Slide_Fix" >
                <nav class="slidebar">
                     {{>slidebar }}
                </nav>
            </div>
           <div class="RanhGioi" >
            </div>
            <div class="thuoctinh3">
                <div class="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.125354331455!2d106.80392213011591!3d10.878069175402207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d8a5f4e477e9%3A0x29d5aeb365cee20b!2sHCMC%20National%20University%20Dormitory%20Zone%20A!5e0!3m2!1sen!2s!4v1636852830873!5m2!1sen!2s"
                        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                {{!-- <div id="GiaoDien">
                    {{{ body }}}
                </div> --}}
            </div>
        </div>


        <footer>
            {{> footer}}
        </footer>
     </body>
</html>